@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

html {
  height: 100%;
}

.main-container {
  flex-grow: 1;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

/* Header */
.page-header {
  padding: 0 70px;
}

.page-logo {
  width: 140px;
  margin-right: 28px;
}

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 600px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 290px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.navigation-user a:not(.link-search-form) {
  padding: 22px 12px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #FFF;
  text-decoration: none;
}

.link-search-form {
  padding: 8px 34px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
  background-color: #756157;
  text-transform: uppercase;
}

/* Hero */
.welcome-logo {
  padding-top: 51px;
  padding-bottom: 82px;
}

.page-hero {
  display: flex;
  justify-content: center;
  margin-bottom: 69px;
  background-image: url(../images/background-flag.svg), url(../images/background-mountains.jpg);
  background-size: 100% auto, cover;
  background-position: center bottom, center;
  background-repeat: no-repeat;
}

/* Advantages */
.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.advantages-title-services {
  margin-bottom: 20px;
}

.advantages-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-text-wrapper {
  padding-bottom: 90px;
}

.advantages-services-wrapper {
  padding-bottom: 64px;
}

/* Блок Advantages. Сетки и стили для Benefits */
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
}

.benefits-item-wrapper {
  width: 400px;
  padding: 103px 85px;
  text-align: center;
}

.bright-item h3 {
  color: #FFF;
}

.bright-item {
  display: flex;
  width: 1200px;
  color: #FFF;
  background-color: #82B3D3;
}

.low-bright-item {
  width: 400px;
  padding: 103px 85px;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.medium-bright-item {
 width: 400px;
 padding: 103px 85px;
 text-align: center;
 background-color: rgba(131, 179, 211, 0.20);
}

.benefits-img {
  object-fit: fill;
}

.benefits-title {
  margin: 0;
  margin-bottom: 62px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.benefits-text {
  margin: 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.services-item {
  box-sizing: border-box;
  text-align: center;
  padding: 80px 85px;
  width: 400px;
}

.services-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.services-text {
  margin: 0;
}

/* Hotel Search */
.hotel-search {
  padding: 96px 70px;
  text-align: center;
}

.hotel-search-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.hotel-search-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.hotel-search-wrapper {
  padding-bottom: 54px;
}

.hotel-search-link {
  padding: 8px 50px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

/* Subscribe */
.subscribe {
  padding: 96px 70px 104px;
  text-align: center;
  background-image: url(../images/background-subscribe.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFF;
}

.subscribe-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #FFF;
}

.subscribe-text-wrapper {
  padding-bottom: 54px;
}

.subscribe-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #82B3D3;
  border: 0;
}
/* Footer */
/* Contacts */
.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-social {
  max-width: 200px;
}

.footer-social-list {
  display:  flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-link {
  width: 47px;
  height: 40px;
}

.footer-partnership {
  display: flex;
  flex-wrap: wrap;
  width: 230px;
}

.footer-contacts-phone a {
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

/* Catalog Hotel Filters */
.hotel-filters {
  width: 1200px;
  padding: 35px 70px;
  background-image: url(../images/background-catalog.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  color: #FFF;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  list-style-type: none;
}

.breadcrumbs-link {
  margin-right: 28px;
  font-size: 16px;
  line-height: 21px;
  color: #FFF;
  text-decoration: none;
}

.filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #FFF;
}

.filter-items {
  font-size: 18px;
  line-height: 23px;
  color: #FFF;
}

.filter-group-container {
  display: flex;
}

.filter-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.submit-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  border: 0;
}

.reset-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFF;
  background-color: transparent;
  text-transform: uppercase;
  border: 0;
}

.hotel-catalog-container {
  padding: 50px 70px 60px 70px;
}

.catalog-title {
  max-width: 350px;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  margin-right: 70px;
  margin-left: auto;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

/* Catalog Hotel Product Card */
.product-card-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.product-card-buttons {
  max-width: 210px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-card-item .button {
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
}

.catalog-product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

.catalog-product-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.product-card-content {
  display: grid;
  gap: 16px;
  grid-template-columns: 140px 140px;
}

.catalog-product-title {
  margin: 0;
  margin-top: 16px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.catalog-product-price {
  margin: 0;
}

.catalog-product-link {
  text-decoration: none;
  margin-bottom: 16px;
}

.more-link {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFF;
  background-color: #756157;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.favorites-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #82B3D3;
  border: 0;
}

/*Добавленный товар*/
.active {
  background-color: #7DB54F;
}

.product-rate {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

/*Pagination */
.pagination-container {
  display: flex;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  text-align: center;
  width: 60px;
  height: 60px;
  padding: 12px 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFF;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-element {
  display: block;
  box-sizing: border-box;
  text-align: center;
  width: 60px;
  height: 60px;
  padding: 12px 12px;
}

.pagination-link-active {
  color: #000000;
  background-color: #F2F2F2;
}

/*Фон и стили для блока Subscribe на страницы Каталога*/
.subscribe-bg {
  background-image: none;
}

.subscribe-bg h2 {
  color: #000000;
}

.subscribe-bg p {
  color: #333333;
}

.field-input {
  background-color: #F2F2F2;
  border: 0;
}
